.root {
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
}

body {
  overflow-x: hidden;
}

html, body, #mapid {
  height: 90%;
  width: 100%;
}

#mapid {
  z-index: 1;
  position: relative;
}

.poptext {
  padding: 10px;
  margin: 10px;
  display: inline-block;
  font-family: monospace;
  text-align: left;
}

.root-content {
  position: relative;
  z-index: 1;
}

.root-content .buslines {
  position: absolute;
  display: flex;
  top: 120px;
  left: 11px;
  z-index: "9999";
}

.white-box { 
  position: absolute;
  top: 18%;
  left: 30%;
  width: 500px; height: 300px; margin-top: 50px; margin-left: auto; margin-right: auto;   
  background: rgba(255,255,255,0.9);
  padding: 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 20px;
  z-index: 9999;
}

.slider-box {
  position: absolute;
  top: 65%;
  left: 30%;
  width: 500px; height: 100px; margin-top: 50px; margin-left: auto; margin-right: auto;   
  background: rgba(255,255,255,0.9);
  padding: 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 20px;
  z-index: 9999;
}

.delaytext {
  display: flex;
}

@-webkit-keyframes dots {
  0% { background-position: 0px; }
  100% { background-position: 50px; }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(64, 97, 109, 0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(67, 85, 109, 0.4); 
}

.loadingtext {
  font-family: 'Roboto', sans-serif;
}

.spinner-middle {
  display: inline-block;
  vertical-align: middle;
}

.load-text {
  font-size: 70%;
  display: inline-block;
  vertical-align: middle;
}

.dots {
  background: linear-gradient(to right, white 50%, black 50%);
  color: transparent;
  -webkit-background-clip: text;
  -webkit-animation: dots 1.5s infinite steps(4);
  padding-right: 40px;
  margin-right: -40px;
}

.hidden {
  display: none;
}
