.root {
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
}

html, body, #mapid {
  height: 90%;
  width: 100%;
}

#mapid {
  z-index: 1;
  position: relative;
}

.poptext {
  padding: 10px;
  margin: 10px;
  display: inline-block;
  font-family: monospace;
  text-align: left;
}

.root-content {
  position: relative;
  z-index: 1;
}

.root-content .buslines {
  position: absolute;
  display: flex;
  top: 120px;
  left: 11px;
  z-index: "9999";
}

.white-box { 
  position: absolute;
  top: 30%;
  left: 25%;
  width: 500px; height: 200px; margin-top: 50px; margin-left: auto; margin-right: auto;   
  background: rgba(255,255,255,0.9);
  padding: 30px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 20px;
  z-index: 9999;
}

.delaytext {
  display: flex;
}

.hidden {
  display: none;
}
